services:
  - type: web
    name: dambastudy-backend
    env: node
    buildCommand: "npm install"
    startCommand: "npm start"
    plan: free
    envVars:
      - key: PORT
        value: 4000
      - key: MONGO_URL
        sync: false
      - key: JWT_SECRET
        sync: false
